node_modules
.DS_Store
dist-ssr
*.local
.env
.env.*
!.env.example

# Backups e Uploads Locais / Servidor
backups/*
!backups/.gitkeep
storage/clients/*
!storage/clients/.gitkeep
storage/office_drive/*
!storage/office_drive/.gitkeep
nginx/ssl/*.pem
nginx/ssl/*.key

